<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/static/visits/css/visits.css" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="/static/visits/js/libs/ember.js"></script>
  <script src="/static/visits/js/libs/ember-data.js"></script>

  <div id="content">
    <h1 class="ui-title">Appointment Book</h1>
    <div id="customers-list">
      <h2>Customers</h2>
    </div>
    <div id="right-panel">
      <div id="visits-panel">
        <h2>Scheduled Visits</h2>
      </div>
      <div id="customer-detail">
        <h2>Detail</h2>
      </div>
    </div>
  </div>
  
  <script src="static/visits/js/app.js"></script>
</body>
</html>
