<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <!-- <link rel="stylesheet" href="/static/tasks/css/tasks.css" /> -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
  <script src="/static/tasks/js/libs/handlebars-v1.3.0.js"></script>
  <script src="/static/tasks/js/libs/ember.js"></script>
  <script src="/static/tasks/js/libs/ember-data.js"></script>
  <script src="/static/tasks/js/libs/tastypie_serializer.js"></script>
  <script src="/static/tasks/js/libs/tastypie_adapter.js"></script>

  <script type="text/x-handlebars" data-template-name="application">
    <div class="container">
      <div class="row">
        <div class="span8 well">
          <a href="/">
            <h2>People and tasks</h2>
          </a>

          {{outlet}}
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="people">
    <h3>People Directory</h3>
    {{view App.CreatePersonView}}

    <ul>
    {{#each person in controller}}
      <li>
        {{#linkTo "person" person}} {{person.name}} ({{person.tasks.length}} tasks assigned) {{/linkTo}}
      </li>
    {{/each}}
    </ul>

  </script>

  <script type="text/x-handlebars" data-template-name="person">
    <h3>{{ name }}</h3>
    <ul class="unstyled">
      <li>
        <a {{action editPerson this}}><i class="icon-pencil"></i>Edit name</a>
      </li>
      <li>
        <a {{action deletePerson this}}><i class="icon-remove"></i>Delete</a>
      </li>
    </ul>
    <h4>Tasks</h4>
      {{partial tasks}}
    </ul>
  </script>

  <script type="text/x-handlebars" data-template-name="_tasks">
    {{view App.CreateTaskView personBinding=this}}
    <ul>
    {{#each task in tasks}}
      <li>
        {{#linkTo "task" task}} {{ task.name }} {{/linkTo}}
        <a {{ action deleteTask task}}><i class="icon-remove"></i></a>
        {{#each tag in task.tags}}
          {{ tag.name }}
        {{/each}}
      </li>
    {{/each}}
  </script>

  <script type="text/x-handlebars" data-template-name="task">
    <h3>{{ name }}</h3>

    <h5>Tags Assigned</h5>
    <ul>
    {{#each tag in tags}}
      <li>
        {{ tag.name }}
        <a {{ action deleteTag tag}}><i class="icon-remove"></i></a>
      </li>
    {{/each}}
    </ul>

  </script>

  <script src="static/tasks/js/app.js"></script>
</body>
</html>
