<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]--> <!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]--> <!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> <!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="/favicon.ico">
  <!-- <link rel="stylesheet" href="/static/tasks/css/tasks.css" /> -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script>
  <!-- <script src="https://raw.github.com/escalant3/ember-data-tastypie-adapter/master/lib/tastypie_adapter.js"></script> -->
  <script src="/static/tasks/js/libs/ember.js"></script>
  <script src="/static/tasks/js/libs/ember-data.js"></script>
  <script src="/static/tasks/js/libs/tastypie_adapter.js"></script>

  <script type="text/x-handlebars" data-template-name="application">
    <div class="container">
      <div class="row">
        <div class="span8">
          <h2>People</h2>

          {{outlet}}
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="people">
    <h3>Directory</h3>
    {{view App.CreatePersonView}}

    <ul>
    {{#each person in controller}}
      <li>
        <a {{action showPerson person}}> {{person.name}} </a>
      </li>
    {{/each}}
    </ul>

  </script>

  <script type="text/x-handlebars" data-template-name="person">
    <h3>{{ name }}</h3>
    <ul class="unstyled">
      <li>
        <a {{action editPerson}}><i class="icon-pencil"></i>Edit name</a>
      </li>
      <li>
        <a {{action deletePerson}}><i class="icon-remove"></i>Delete</a>
      </li>
    </ul>
    <h4>Tasks</h4>
    {{view App.CreateTaskView person=this}}
    <ul>
    {{#each task in tasks}}
      <li>
        <a {{action showTask task}}>{{ task.name }}</a>
        <a {{ action deleteTask task}}><i class="icon-remove"></i></a>
      </li>
    {{/each}}
    </ul>
  </script>

  <script type="text/x-handlebars" data-template-name="task">
    {{ name }}

    <h4>Tags</h4>
    {{view App.CreateTagView vi=this}}
    <ul>
    {{#each tag in tags}}
      <li>
        {{ tag.name }}
        <a {{ action deleteTag tag}}><i class="icon-remove"></i></a>
      </li>
    {{/each}}
    </ul>

  </script>

  <script src="static/tasks/js/app.js"></script>
</body>
</html>
